[submodule "lib/chibios"]
	path = qmk_firmware/lib/chibios
	url = https://github.com/qmk/ChibiOS
	branch = master
[submodule "lib/chibios-contrib"]
	path = qmk_firmware/lib/chibios-contrib
	url = https://github.com/qmk/ChibiOS-Contrib
	branch = master
[submodule "lib/ugfx"]
	path = qmk_firmware/lib/ugfx
	url = https://github.com/qmk/uGFX
	branch = master
[submodule "lib/googletest"]
	path = qmk_firmware/lib/googletest
	url = https://github.com/qmk/googletest
[submodule "lib/lufa"]
	path = qmk_firmware/lib/lufa
	url = https://github.com/qmk/lufa
[submodule "lib/vusb"]
	path = qmk_firmware/lib/vusb
	url = https://github.com/qmk/v-usb
[submodule "lib/printf"]
	path = qmk_firmware/lib/printf
	url = https://github.com/qmk/printf
